html, body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 0.5vh;
}

header > p:first-child {
  margin-top: 0;
}

header > p:last-child {
  margin-bottom: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main > div {
  padding: 0.5vh;
}

div#map-holder {
  flex: 2;
}

div#map {
  height: 100%;
}

div#table-holder {
  flex: 1;
  overflow: hidden;
}

footer {
  padding: 0.5vh;
}

footer > p:first-child {
  margin-top: 0;
}

footer > p:last-child {
  margin-bottom: 0;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 23px;
	font-weight: 400;
	font-size: 14px;
}
