.leaflet-control-filter-toggles a.leaflet-touch {
  padding: 0 0.5em 0 0.5em;
  user-select: none;
  width: auto;
  max-width: 15em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #bbb;
}

a.leaflet-control-filter-toggles-active {
  background-color: #fff !important;
}

.leaflet-control-filter-toggles a.leaflet-touch:hover {
  background-color: #ddd !important;
}

a.leaflet-control-filter-toggles-active:hover {
  background-color: #ddd !important;
}

.leaflet-control-filter-toggles {
  display: flex;
  flex-direction: row;
}

.leaflet-control-filter-toggles>div {
  margin-right: 10px;
}

.leaflet-control-filter-toggles>div:last-child {
  margin-right: 0px;
}
